{% if settings.dropdown_menu_style == "standard" %}
  <!-- Standard Dropdown Code -->
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span>{{ link.title | escape }}</span>
                {% render 'icon-caret' %}
              </summary>
              <ul class="header__submenu list-menu" role="list">
                {%- for childlink in link.links -%}
                  <li>
                    <a href="{{ childlink.url }}" class="list-menu__item link link--text">{{ childlink.title | escape }}</a>
                  </li>
                {%- endfor -%}
              </ul>
            </details>
          </header-menu>
        {%- else -%}
          <a href="{{ link.url }}" class="list-menu__item link link--text">{{ link.title | escape }}</a>
        {%- endif %}
      </li>
    {%- endfor -%}
  </ul>
{% elsif settings.dropdown_menu_style == "side_popout" %}
  <!-- Side Pop-Out Dropdown Code -->
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}">
              <summary class="header__menu-item list-menu__item link focus-inset">
                <span>{{ link.title | escape }}</span>
                {% render 'icon-caret' %}
              </summary>
              <ul class="header__submenu list-menu">
                {%- for childlink in link.links -%}
                  <li class="submenu-item">
                    {% if childlink.links == blank %}
                      <a href="{{ childlink.url }}" class="list-menu__item link link--text">{{ childlink.title | escape }}</a>
                    {% else %}
                      <a href="#" class="list-menu__item link link--text">{{ childlink.title | escape }}</a>
                      <!-- Side Menu for Submenu Items -->
                      <ul class="side-submenu list-menu">
                        {%- for grandchildlink in childlink.links -%}
                          <li>
                            <a href="{{ grandchildlink.url }}" class="list-menu__item link link--text">{{ grandchildlink.title | escape }}</a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    {% endif %}
                  </li>
                {%- endfor -%}
              </ul>
            </details>
          </header-menu>
        {%- else -%}
          <a href="{{ link.url }}" class="list-menu__item link link--text">{{ link.title | escape }}</a>
        {%- endif %}
      </li>
    {%- endfor -%}
  </ul>
{% endif %}
